.heroandmiddle{
    display: flex;
    padding-bottom: 50px;
}
.half-width{
    width: 40%;
    padding-left: 10%;
    margin-top: 50px;
    color: rgb(58, 58, 58);
    
}

.half-width img{
    width: 450px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}

#hero-title{
    padding-top: 30px;
}

.title-color{
    color: orangered;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(#f12711, #df9800);
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 5px 30px 0px 5px;
}
.button:hover{
    background-image: linear-gradient(#ee0979,#ff6a00);
}

#middleimg{
    width: 300px;
    padding-top: 30px;
    padding-left: 120px;
}

#middletitle{
    padding-top: 70px;
}

#background-middle{
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-food{
display: flex;
padding-bottom: 50px;

}

.recipies-section{
    padding-top: 50px;
}

.threeitem{
    width: 20%;
    padding: 2%; 
    margin: 50px 0px 50px 110px; 
    box-shadow: 10px 5px 40px rgb(46, 46, 46);
    border-radius: 30px;
    
}

.threephoto{
    width: 300px;
}

.myrecipies{
    text-align: center;
}

.fan{
    display: flex;
    box-shadow: 10px 5px 30px rgb(46, 46, 46);
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.fancontent{
    width: 20%;
    padding-left: 5%; 
    text-align: center;

}