body{
    margin: 0px;
}

.heroandmiddle{
    display: flex;
}
.half-width{
    width: 40%;
    padding-left: 10%;
    margin-top: 50px;
    color: rgb(58, 58, 58);
    
}

.half-width img{
    width: 450px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}

#hero-title{
    padding-top: 30px;
}

.title-color{
    color: orangered;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(#f12711, #df9800);
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    border-radius: 5px 30px 0px 5px;
}
.button:hover{
    background-image: linear-gradient(#ee0979,#ff6a00);
}

#middleimg{
    width: 300px;
    padding-top: 30px;
    padding-left: 120px;
}

#middletitle{
    padding-top: 70px;
}

#background-middle{
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.featured-food{
display: flex;
padding-bottom: 50px;

}

.recipies-section{
    padding-top: 50px;
}

.threeitem{
    width: 20%;
    padding: 2%; 
    margin: 50px 0px 50px 110px; 
    box-shadow: 10px 5px 40px rgb(46, 46, 46);
    border-radius: 30px;
    
}

.threephoto{
    width: 300px;
}

.myrecipies{
    text-align: center;
}

.fan{
    display: flex;
    box-shadow: 10px 0px 20px rgb(46, 46, 46);
    width: 90%;
    margin-left: 5%;
    margin-bottom: 100px;
}

.fancontent{
    width: 20%;
    padding-left: 10%; 
    text-align: center;

}
.footercontent{
    width: 100%;
    text-align: center;
    background-color: rgb(19, 19, 19);
    padding: 20px 0px 50px 0px;
    
}

.footercontent p{
    color: white;
}

#network{
    color: gray;
}

.team-title{
text-align: center;
padding: 20px;
}

.mainteam{
    background-image: url(images/Frame59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.instructions{
    display: flex;
    
}

.team-section{
    width: 20%;
    padding: 2%; 
    margin: 50px 0px 50px 110px; 
    box-shadow: 0px 10px 5px rgb(85, 85, 85);
    border-radius: 30px;
    text-align: center;
}

.team{
    width: 200px;
    height: 300px;
    border-radius: 50px 10px 50px 10px;
}
h3{
    color: rgb(61, 61, 61);
    font-weight: 600;
}